$white-bg: #ffffff;
$main-bg: #f8f8f8;
$comp-bg: #fcfcfc;
$primary: #138951;
$primary-deep: #0e633b;
$primary-light: #f0f7f4;
$dark-text: #14151a;
$dark-text-3: #4a4a4a;
$light-text: #828282;
$dark-border: #d0d5dd;
$modal-bg: hsla(153, 35%, 88%, 0.486);
$shadow: rgba(115, 115, 115, 0.2);
$header-family: "Hind", sans-serif;
$body-family: "Inter", sans-serif;
