$white: #fefefe;
$text-dark: #2a2a2a;
$header-family: "Hind", sans-serif;
$text-family: "Inter", sans-serif;
$primary-color: #138951;
$light-primary-color: rgba(213, 235, 225, 0.7);
$gray-background: rgba(11, 36, 24, 0.4);
$light-white: rgba(245, 245, 245, 1);
$faint-white: rgba(236, 236, 236, 1);
$button-shadow: hsla(152, 76%, 31%, 0.25);
