@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Inter:wght@300;400;500;700&display=swap");
@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: $text-family;
  background-color: $faint-white;
  max-width: 2000px;
  margin: 0 auto;
}

h2,
h3 {
  font-family: $header-family;
}

img,
input {
  max-width: 100%;
}

/* width */
::-webkit-scrollbar {
  display: none;
  // width: 3px;
}

// /* Track */
// ::-webkit-scrollbar-track {
//   background: $white;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $primary-color;
//   border-radius: 3px;
// }
////////////////////////////////////////////
////////////////////////////////////////////
// Header styles start
////////////////////////////////////////////
////////////////////////////////////////////

header {
  height: 3.6em;
  width: 100%;
  padding: 1em;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: $text-dark;
  position: fixed;
  top: 0;
  z-index: 3;

  @include mq(600px) {
    padding: 2em 4em;
    height: 7em;
  }

  @include mq(1024px) {
    position: relative;
  }

  .logo-container,
  h4 {
    display: inline-block;
    height: 100%;
  }

  h4 {
    cursor: default;
    position: relative;
    top: -10%;
    font-size: 0.5rem;
    font-family: $text-family;

    @include mq(600px) {
      font-size: 1rem;
    }
  }

  .logo {
    height: 100%;
  }

  .sm-logo {
    @include mq(1350px) {
      display: none;
    }
  }
  .lg-logo {
    display: none;
    @include mq(1350px) {
      display: inline-block;
      font-size: 1rem;
    }
  }

  .ham {
    cursor: pointer;
    @include mq(1024px) {
      display: none;
    }
  }

  .nav-list {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3.6em;
    left: 0;
    z-index: 2;
    background-color: $white;
    @include mq(600px) {
      top: 7em;
    }
    @include mq(1024px) {
      position: relative;
      top: 0;
    }

    li {
      list-style-type: none;
      position: relative;
      margin: 1rem;

      @include mq(1024px) {
        display: inline-block;
      }
    }
    a {
      text-decoration: none;
      color: $text-dark;
      font-weight: 700;
      font-size: 1rem;
      display: inline-block;

      &::after {
        content: url("../assets/icons/down-arrow.png");
        display: inline-block;
        position: absolute;
        right: 25%;

        @include mq(1024px) {
          position: relative;
          right: -0.5em;
        }
      }
    }
  }

  .nav-list > li:last-of-type {
    a::after {
      content: "";
    }
  }

  .nav-list > ul {
    display: none;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    background-color: $light-primary-color;

    @include mq(1024px) {
      position: absolute;
      top: 5.5em;
      left: 40%;
      background-color: $white;
      width: 20em;
      text-align: left;
      padding: 3%;

      li {
        display: block;
      }
    }

    > li {
      a {
        &::after {
          content: "";
        }
      }
    }
  }

  .closed {
    display: none;
    @include mq(1024px) {
      display: inline-block;
    }
  }
}

////////////////////////////////////////////
////////////////////////////////////////////
// Header styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// carousel styles start
////////////////////////////////////////////
////////////////////////////////////////////

.fade {
  display: none;
}

.carousel {
  position: relative;
  @include mq(600px) {
    top: 7em;
  }

  @include mq(1024px) {
    top: 0;
  }
}

.oneSlide,
.twoSlide,
.threeSlide,
.fourSlide {
  @include carouselCard;
}

.twoSlide {
  color: $text-dark;

  .carousel-button {
    color: $white;
  }

  .carousel-text {
    @include mq(600px) {
      // top: -35em;
      h3 {
        font-size: 3rem;
        line-height: 120%;
      }
    }
  }

  @include mq(1024px) {
    @include carousel-grid;
  }
}

.threeSlide {
  text-shadow: 2px 2px $text-dark;

  .carousel-text {
    @include mq(600px) {
      h3 {
        font-size: 3rem;
        line-height: 120%;
      }
    }
  }

  @include mq(1024px) {
    @include carousel-grid;
    color: $text-dark;
    text-shadow: none;

    .carousel-button {
      color: $white;
    }
  }
}

.fourSlide {
  .carousel-text {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      rgba(19, 137, 81, 0.4);

    @include mq(600px) {
      width: 75%;
      padding: 2em;
    }

    @include mq(1440px) {
      width: 60%;
      padding: 4em;
    }
  }

  p {
    @include mq(1024px) {
      padding: 0;
    }
  }

  .ayah {
    margin: 1.4rem auto 1.4rem;
    text-align: right;
    line-height: 130%;
    font-weight: bold;
    font-family: Calibri, "Trebuchet MS", sans-serif;

    @include mq(1024px) {
      font-size: 1.5rem;
      line-height: 120%;
    }
  }

  .ayah-translation {
    margin: 0 0 1.8rem;

    @include mq(1024px) {
      font-size: 1.5rem;
      line-height: 120%;
    }
  }

  .ayah-ref {
    font-weight: 300;
    @include mq(1024px) {
      font-size: 1.3rem;
    }
  }

  .donate-button {
    height: 60%;
    top: -14em;

    @include mq(600px) {
      width: 4em;
      height: 13em;
      right: -4.2em;
    }

    @include mq(1024px) {
      width: 4em;
      height: 13em;
      right: -33%;
    }
  }
}

.left,
.right {
  display: none;
  @include mq(600px) {
    position: absolute;
    background: rgba(224, 224, 224, 0.3);

    color: $white;
    display: inline-block;
    width: 3em;
    height: 3em;
    padding: 1em;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    font-weight: bold;
  }
}

.left {
  left: 2em;
}
.right {
  right: 2em;
}

.donate-button {
  position: absolute;
  top: 2em;
  right: 0;

  @include button;
  text-align: center;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  width: 3em;
  height: 23%;
  color: $white;

  img {
    height: 18%;
    position: relative;
    top: -0.5rem;
    transform: rotate(90deg);
  }

  @include mq(600px) {
    width: 4em;
    height: 13em;

    img {
      top: -1.2em;
    }
  }
}

.dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3.2em;
  @include mq(600px) {
    bottom: 10em;
  }

  @include mq(1024px) {
    bottom: 5em;
  }

  .dot {
    cursor: pointer;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: $white;

    @include mq(1024px) {
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  .active {
    width: 2rem;
    border-radius: 30px;

    @include mq(1024px) {
      width: 2.5rem;
    }
  }
}

////////////////////////////////////////////
////////////////////////////////////////////
// carousel styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// intro section styles start
////////////////////////////////////////////
////////////////////////////////////////////

.intro {
  padding: 6.5%;
  text-align: center;

  @include mq(600px) {
    padding: 6.5% 0 6.5%;
    text-align: left;
  }

  img {
    border-radius: 12px;
    margin-top: 2em;
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
    font-family: $header-family;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    margin-top: 1.5rem;

    &::after {
      content: "";
      width: 3rem;
      background-color: $primary-color;
      height: 2px;
      position: absolute;
      bottom: 0.2rem;
      left: 20%;
    }
  }

  p {
    font-family: $text-family;
    margin: 0 0 2.7rem;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.8em;
    width: 50%;
    margin-bottom: 3em;
    border-radius: 4px;
    color: $primary-color;
    border: 1px solid $primary-color;

    @include mq(1024px) {
      font-size: 1.2rem;
    }
  }
}

.intro-section {
  @include mq(600px) {
    display: grid;
    width: 100%;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
  }
}

.intro-text {
  @include mq(1024px) {
    margin: auto;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

.mission-section {
  @include mq(600px) {
    margin-bottom: 5em;
    img {
      display: inline-block;
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      border-radius: 12px 0 0 0;
    }
    .mission-text {
      padding-left: 10%;
      display: inline-block;
      grid-column: 1 / span 1;
    }
  }

  @include mq(1024px) {
    margin-bottom: 7.5em;
  }
}

.vision-text {
  padding-right: 10%;
}

////////////////////////////////////////////
////////////////////////////////////////////
// intro section styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// learn more section styles start
////////////////////////////////////////////
////////////////////////////////////////////

.learn-more {
  background-color: $light-primary-color;
  text-align: center;
  padding: 1em;

  @include mq(600px) {
    display: grid;
    padding: 5em;
    grid-template-columns: repeat(3, 50%);
    column-gap: 5%;
    overflow-x: scroll;
  }

  @include mq(1024px) {
    padding: 7.7em 5em;
    grid-template-columns: repeat(3, 37%);
  }

  section {
    background-color: $gray-background;
    margin-top: 2em;
    padding: 1.5em;
    color: $white;
    border-radius: 8px;
  }

  .icon-container {
    display: inline-block;
    margin-top: 1em;
    padding: 0.8em;
    width: 3.5em;
    border-radius: 50%;
    background-color: $white;

    @include mq(1024px) {
      margin-top: 3.5em;
      width: 6.5em;
      padding: 1.5em;
    }
  }

  img {
    margin-top: 0.2em;
  }

  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 1rem;
    font-family: $header-family;

    @include mq(1024px) {
      font-size: 1.79em;
      margin-top: 2rem;
    }
  }

  p {
    font-size: 0.8rem;
    margin: 0.2rem auto 2rem;
    line-height: 150%;
    padding: 0 8%;

    @include mq(1024px) {
      margin: 0.5rem auto 3rem;
      padding: 0 2%;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .learn-link {
    display: inline-block;
    text-decoration: none;
    width: 80%;
    font-size: 0.9rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: $primary-color;
    color: $white;
    border-radius: 4px;
    box-shadow: 0px 10px 10px $button-shadow;

    @include mq(1024px) {
      font-size: 1.1rem;
      margin-bottom: 3rem;
      width: 95%;
    }
  }
}
////////////////////////////////////////////
////////////////////////////////////////////
// learn more section styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// events section styles start
////////////////////////////////////////////
////////////////////////////////////////////
.events {
  @include section;

  .event-date {
    display: inline-block;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    line-height: 25px;
    padding: 1rem;
    font-size: 0.7rem;
    background: linear-gradient(
      132.84deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );

    @include mq(1024px) {
      width: 33%;
      font-size: 1.1rem;
      padding: 2rem;
    }
  }

  h3 {
    font-family: $header-family;
    color: $primary-color;
    margin: 1.2rem auto 0.6rem;
  }

  p {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;

    @include mq(1024px) {
      font-size: 1.5rem;
    }

    span {
      font-weight: normal;
    }
  }
}
////////////////////////////////////////////
////////////////////////////////////////////
// events section styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// news section styles start
////////////////////////////////////////////
////////////////////////////////////////////
.news {
  @include section;
  background-color: $faint-white;
  text-align: left;

  span,
  h3,
  p,
  a {
    padding: 0 10%;
  }

  .date {
    display: inline-block;
    font-size: 0.8rem;

    @include mq(1024px) {
      display: none;
    }
  }

  h3 {
    line-height: 120%;
    margin: 4% auto 4%;
  }

  p {
    font-size: 0.8rem;

    @include mq(1024px) {
      font-size: 1rem;
    }
  }

  a {
    display: inline-block;
    margin-top: 1.4rem;
    color: $primary-color;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;

    &::after {
      content: "\2192";
      margin-left: 0.5rem;
    }

    @include mq(1024px) {
      font-size: 1.1rem;
    }
  }
}

////////////////////////////////////////////
////////////////////////////////////////////
// news section styles end
////////////////////////////////////////////
////////////////////////////////////////////

////////////////////////////////////////////
////////////////////////////////////////////
// footer styles start
////////////////////////////////////////////
////////////////////////////////////////////
footer {
  background-color: $light-primary-color;
  padding: 1.5rem 0 0;

  @include mq(768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 0 0;

    .footer-links {
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;
    }

    .contact {
      grid-column: 2 / span 1;
    }

    .socials {
      grid-column: 1 / span 2;
    }

    .attribution {
      grid-column: 1 / span 2;
    }
  }
}

h2 {
  margin: 1.2rem auto;
  @include mq(768px) {
    font-size: 2rem;
  }
}

.contact {
  margin: 0 1.5rem 0;

  form {
    width: 100%;
    background-color: $white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    @include mq(1024px) {
      width: 60%;
      padding: 4%;
    }

    input {
      display: block;
      width: 100%;
      height: 3.5em;
      outline: none;
      border: 1px solid $primary-color;
      border-radius: 5px;
      margin: 0.5rem 0 1rem;
    }

    button {
      border: none;
      @include button;
      color: white;
      @include mq(1024px) {
        margin: 0;
        width: 100%;
      }
    }
  }
}

.footer-links {
  margin: 0 1.5rem 2rem;
  margin-bottom: 2rem;

  img {
    @include mq(768px) {
      width: 12%;
      margin-left: 10%;
    }
  }

  ul {
    list-style-type: none;
    font-weight: 500;
    font-size: 0.8rem;

    display: grid;
    grid-template-columns: auto auto;

    @include mq(768px) {
      font-size: 1.2rem;
      margin: 2% 0 0 10%;

      @include mq(1024px) {
        margin: 2% 0 0 25%;
        grid-template-columns: auto auto auto;
      }
    }
  }

  li {
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .logo-container {
    display: none;

    @include mq(1024px) {
      display: block;
    }
  }

  @include mq(768px) {
    h4 {
      display: inline-block;
      font-size: 1.2rem;
      width: 50%;
      margin-left: 2%;
      position: relative;
      top: -1rem;
    }

    h2 {
      margin: 2% 0 0 10%;
      @include mq(1024px) {
        margin: 2% 0 0 25%;
      }
    }
  }
}

.socials {
  margin: 0 1.5rem 0;

  @include mq(768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0% 12%;

    p {
      font-size: 1rem;
      width: 80%;
    }
  }

  p {
    font-size: 0.8rem;
  }

  a {
    display: inline-block;
    margin: 1rem 0.5rem;
  }
}

.social-icons {
  @include mq(1024px) {
    a {
      width: 2em;
      height: 2.2em;

      img {
        height: 100%;
      }
    }
  }
}

.other-contacts {
  a {
    display: block;
    text-decoration: none;
    color: black;
  }
  img {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    padding: 0.5rem;
    border: 1px solid $primary-color;
    border-radius: 50%;

    @include mq(1024px) {
      width: 3rem;
      height: 3rem;
      padding: 0.8rem;
    }
  }

  address,
  span {
    position: relative;
    top: -0.5rem;
    display: inline-block;
    width: fit-content;
    line-height: 150%;
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    font-style: normal;

    @include mq(1024px) {
      font-size: 1rem;
      width: 70%;
    }
  }

  address {
    width: 78%;
    top: 0rem;
  }
}

.attribution {
  text-align: center;
  background-color: $white;
  font-size: 0.7rem;
  padding: 1rem;
  font-weight: bold;

  @include mq(768px) {
    font-size: 1.2rem;
  }
}
////////////////////////////////////////////
////////////////////////////////////////////
// footer styles end
////////////////////////////////////////////
////////////////////////////////////////////
