@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Inter:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #ececec;
  max-width: 2000px;
  margin: 0 auto;
}

h2,
h3 {
  font-family: "Hind", sans-serif;
}

img,
input {
  max-width: 100%;
}

header {
  height: 3.6em;
  width: 100%;
  padding: 1em;
  background-color: #fefefe;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #2a2a2a;
  position: fixed;
  top: 0;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  header {
    padding: 2em 5em;
    height: 7em;
  }
}
@media screen and (min-width: 1440px) {
  header {
    position: relative;
  }
}
header .logo-container,
header h4 {
  display: inline-block;
  height: 100%;
}
header h4 {
  position: relative;
  top: -10%;
  font-size: 0.5rem;
  font-family: "Inter", sans-serif;
}
header .logo {
  height: 100%;
}
@media screen and (min-width: 768px) {
  header .sm-logo {
    display: none;
  }
}
header .lg-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  header .lg-logo {
    display: inline-block;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  header .ham {
    display: none;
  }
}
header .nav-list {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 3.6em;
  left: 0;
  z-index: 2;
  background-color: #fefefe;
}
@media screen and (min-width: 768px) {
  header .nav-list {
    top: 7em;
  }
}
@media screen and (min-width: 1440px) {
  header .nav-list {
    position: relative;
    top: 0;
  }
}
header .nav-list li {
  list-style-type: none;
  position: relative;
  margin: 1rem;
}
@media screen and (min-width: 1440px) {
  header .nav-list li {
    display: inline-block;
  }
}
header .nav-list a {
  text-decoration: none;
  color: #2a2a2a;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
}
header .nav-list a::after {
  content: ">";
  display: inline-block;
  position: absolute;
  right: 30%;
  transform: rotate(90deg);
}
@media screen and (min-width: 1440px) {
  header .nav-list a::after {
    position: relative;
    right: -0.5em;
  }
}
header .nav-list > li:last-of-type a::after {
  content: "";
}
header .nav-list > ul {
  display: none;
  width: 70%;
  margin: 0 auto;
  padding: 5%;
  background-color: rgba(213, 235, 225, 0.7);
}
@media screen and (min-width: 1440px) {
  header .nav-list > ul {
    position: absolute;
    top: 3em;
    background-color: #fefefe;
    width: 20em;
    text-align: left;
    padding: 3%;
  }
  header .nav-list > ul li {
    display: block;
  }
}
header .nav-list > ul > li a::after {
  content: "";
}
header .closed {
  display: none;
}
@media screen and (min-width: 1440px) {
  header .closed {
    display: inline-block;
  }
}

.fade {
  display: none;
}

.carousel {
  position: relative;
}

.oneSlide,
.twoSlide,
.threeSlide,
.fourSlide {
  text-align: center;
  animation-name: fade;
  animation-duration: 1.5s;
  height: 37.5em;
  color: #fefefe;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .oneSlide,
.twoSlide,
.threeSlide,
.fourSlide {
    height: 56em;
  }
}
.oneSlide h3,
.twoSlide h3,
.threeSlide h3,
.fourSlide h3 {
  font-family: "Hind", sans-serif;
  font-weight: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .oneSlide h3,
.twoSlide h3,
.threeSlide h3,
.fourSlide h3 {
    font-size: 3.8rem;
    line-height: 73px;
  }
}
.oneSlide .carousel-text,
.twoSlide .carousel-text,
.threeSlide .carousel-text,
.fourSlide .carousel-text {
  display: inline-block;
  position: relative;
  top: -23em;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 5%;
  line-height: 1.2em;
}
@media screen and (min-width: 768px) {
  .oneSlide .carousel-text,
.twoSlide .carousel-text,
.threeSlide .carousel-text,
.fourSlide .carousel-text {
    margin: 0 5em 0;
    padding: 2em;
    top: -32em;
  }
}
@media screen and (min-width: 1024px) {
  .oneSlide p,
.twoSlide p,
.threeSlide p,
.fourSlide p {
    padding: 0 15em;
  }
}
.oneSlide img,
.twoSlide img,
.threeSlide img,
.fourSlide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .oneSlide img,
.twoSlide img,
.threeSlide img,
.fourSlide img {
    height: 900px;
  }
}
.oneSlide .carousel-button,
.twoSlide .carousel-button,
.threeSlide .carousel-button,
.fourSlide .carousel-button {
  display: inline-block;
  width: 50%;
  height: 3em;
  padding: 0.7em;
  margin-top: 4em;
  border-radius: 4px;
  background-color: #138951;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 10px 10px rgba(19, 139, 83, 0.25);
}
@media screen and (min-width: 768px) {
  .oneSlide .carousel-button,
.twoSlide .carousel-button,
.threeSlide .carousel-button,
.fourSlide .carousel-button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .oneSlide .carousel-button,
.twoSlide .carousel-button,
.threeSlide .carousel-button,
.fourSlide .carousel-button {
    width: 17em;
  }
}
.oneSlide .donate-button,
.twoSlide .donate-button,
.threeSlide .donate-button,
.fourSlide .donate-button {
  position: absolute;
  top: 4em;
  right: 0;
  display: inline-block;
  width: 50%;
  height: 3em;
  padding: 0.7em;
  margin-top: 4em;
  border-radius: 4px;
  background-color: #138951;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 10px 10px rgba(19, 139, 83, 0.25);
  text-align: center;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  width: 3em;
  height: 23%;
  color: #fefefe;
}
@media screen and (min-width: 768px) {
  .oneSlide .donate-button,
.twoSlide .donate-button,
.threeSlide .donate-button,
.fourSlide .donate-button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .oneSlide .donate-button,
.twoSlide .donate-button,
.threeSlide .donate-button,
.fourSlide .donate-button {
    width: 17em;
  }
}
.oneSlide .donate-button img,
.twoSlide .donate-button img,
.threeSlide .donate-button img,
.fourSlide .donate-button img {
  height: 18%;
  position: relative;
  top: -0.5rem;
  transform: rotate(90deg);
}
@media screen and (min-width: 768px) {
  .oneSlide .donate-button,
.twoSlide .donate-button,
.threeSlide .donate-button,
.fourSlide .donate-button {
    width: 4em;
    height: 13em;
  }
  .oneSlide .donate-button img,
.twoSlide .donate-button img,
.threeSlide .donate-button img,
.fourSlide .donate-button img {
    top: -1.2em;
  }
}

.twoSlide {
  color: #2a2a2a;
}
.twoSlide .carousel-button {
  color: #fefefe;
}
@media screen and (min-width: 768px) {
  .twoSlide .carousel-text {
    top: -35em;
  }
  .twoSlide .carousel-text h3 {
    font-size: 3rem;
    line-height: 120%;
  }
}
@media screen and (min-width: 1440px) {
  .twoSlide .carousel-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
  }
  .twoSlide .carousel-grid img {
    grid-column: 2/span 1;
    height: 100%;
    padding: 25% 15%;
  }
  .twoSlide .carousel-grid .carousel-text {
    top: -40em;
    text-align: left;
  }
  .twoSlide .carousel-grid .carousel-text h3 {
    font-size: 4rem;
  }
  .twoSlide .carousel-grid .carousel-text p {
    padding: 0;
  }
  .twoSlide .carousel-grid .carousel-button {
    text-align: center;
  }
}

.threeSlide {
  text-shadow: 2px 2px #2a2a2a;
}
@media screen and (min-width: 768px) {
  .threeSlide .carousel-text {
    top: -35em;
  }
  .threeSlide .carousel-text h3 {
    font-size: 3rem;
    line-height: 120%;
  }
}
@media screen and (min-width: 1440px) {
  .threeSlide {
    color: #2a2a2a;
    text-shadow: none;
  }
  .threeSlide .carousel-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
  }
  .threeSlide .carousel-grid img {
    grid-column: 2/span 1;
    height: 100%;
    padding: 25% 15%;
  }
  .threeSlide .carousel-grid .carousel-text {
    top: -40em;
    text-align: left;
  }
  .threeSlide .carousel-grid .carousel-text h3 {
    font-size: 4rem;
  }
  .threeSlide .carousel-grid .carousel-text p {
    padding: 0;
  }
  .threeSlide .carousel-grid .carousel-button {
    text-align: center;
  }
  .threeSlide .carousel-button {
    color: #fefefe;
  }
}

.fourSlide .carousel-text {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(19, 137, 81, 0.4);
}
@media screen and (min-width: 1440px) {
  .fourSlide .carousel-text {
    width: 60%;
    padding: 4em;
    top: -40em;
  }
}
@media screen and (min-width: 1440px) {
  .fourSlide p {
    padding: 0;
  }
}
.fourSlide .ayah {
  margin: 1.4rem auto 1.4rem;
  text-align: right;
  line-height: 130%;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
@media screen and (min-width: 1440px) {
  .fourSlide .ayah {
    font-size: 1.5rem;
    line-height: 120%;
  }
}
.fourSlide .ayah-translation {
  margin: 0 0 1.8rem;
}
@media screen and (min-width: 1440px) {
  .fourSlide .ayah-translation {
    font-size: 1.5rem;
    line-height: 120%;
  }
}
.fourSlide .ayah-ref {
  font-weight: 300;
}
@media screen and (min-width: 1440px) {
  .fourSlide .ayah-ref {
    font-size: 1.3rem;
  }
}
.fourSlide .donate-button {
  height: 60%;
  top: -14em;
}
@media screen and (min-width: 768px) {
  .fourSlide .donate-button {
    width: 4em;
    height: 13em;
    right: -4.2em;
  }
}
@media screen and (min-width: 1440px) {
  .fourSlide .donate-button {
    width: 4em;
    height: 13em;
    right: -33%;
  }
}

.dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3.2em;
}
.dots .dot {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #fefefe;
  box-shadow: 0px 0px 10px #2a2a2a;
}
.dots .active {
  width: 2rem;
  border-radius: 30px;
}
.dots .two .active {
  background-color: yellow;
}

.intro {
  padding: 6.5%;
}
.intro img {
  border-radius: 12px;
  margin-top: 2em;
}
.intro h2 {
  font-size: 1.5rem;
  font-family: "Hind", sans-serif;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.intro h2::after {
  content: "";
  width: 3rem;
  background-color: #138951;
  height: 2px;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}
.intro p {
  font-family: "Inter", sans-serif;
  margin: 0 0 2.7rem;
  font-size: 1rem;
}
.intro a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.8em;
  width: 50%;
  margin-bottom: 3em;
  border-radius: 4px;
  color: #138951;
  border: 1px solid #138951;
}
@media screen and (min-width: 1440px) {
  .intro a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .intro-section {
    display: grid;
    width: 100%;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .intro-text {
    margin: auto;
  }
  .intro-text h2 {
    font-size: 3rem;
  }
  .intro-text p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .mission-section {
    margin-bottom: 7.5em;
  }
  .mission-section img {
    display: inline-block;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
  .mission-section .mission-text {
    display: inline-block;
    grid-column: 1/span 1;
  }
}

.learn-more {
  background-color: rgba(213, 235, 225, 0.7);
  text-align: center;
  padding: 1em;
}
@media screen and (min-width: 1440px) {
  .learn-more {
    display: grid;
    padding: 7.7em 5em;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
  }
}
.learn-more section {
  background-color: rgba(11, 36, 24, 0.4);
  margin-top: 2em;
  padding: 1.5em;
  color: #fefefe;
  border-radius: 8px;
}
.learn-more .icon-container {
  display: inline-block;
  margin-top: 1em;
  padding: 0.8em;
  width: 3.5em;
  border-radius: 50%;
  background-color: #fefefe;
}
@media screen and (min-width: 1440px) {
  .learn-more .icon-container {
    margin-top: 3.5em;
    width: 6.5em;
    padding: 1.5em;
  }
}
.learn-more img {
  margin-top: 0.2em;
}
.learn-more h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 1rem;
  font-family: "Hind", sans-serif;
}
@media screen and (min-width: 1440px) {
  .learn-more h3 {
    font-size: 1.79em;
    margin-top: 2rem;
  }
}
.learn-more p {
  font-size: 0.8rem;
  margin: 0.2rem auto 2rem;
  line-height: 150%;
  padding: 0 8%;
}
@media screen and (min-width: 1440px) {
  .learn-more p {
    margin: 0.5rem auto 3rem;
    padding: 0 2%;
    font-size: 1.2rem;
    font-weight: 300;
  }
}
.learn-more .learn-link {
  display: inline-block;
  text-decoration: none;
  width: 80%;
  font-size: 0.9rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #138951;
  color: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 10px 10px rgba(19, 139, 83, 0.25);
}
@media screen and (min-width: 1440px) {
  .learn-more .learn-link {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    width: 95%;
  }
}

.events {
  padding: 0 10% 5%;
  background-color: whitesmoke;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .events {
    padding: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .events .section-content {
    display: grid;
    grid-template-columns: repeat(3, 41%);
    column-gap: 4%;
    overflow: scroll;
  }
}
.events .card {
  margin-bottom: 2rem;
  background-color: #fefefe;
  border-radius: 24px;
  position: relative;
  padding-bottom: 2rem;
}
.events h2 {
  font-family: "Hind", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 3.5rem auto 3rem;
}
@media screen and (min-width: 1440px) {
  .events h2 {
    font-size: 3rem;
  }
}
.events h3 {
  font-family: "Hind", sans-serif;
}
@media screen and (min-width: 1440px) {
  .events h3 {
    font-size: 1.9rem;
  }
}
.events img {
  border-radius: 24px 24px 0 0;
  width: 100%;
  min-height: 209px;
}
.events .event-date {
  display: inline-block;
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fefefe;
  line-height: 25px;
  padding: 1rem;
  font-size: 0.7rem;
  background: linear-gradient(132.84deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.05) 100%);
}
@media screen and (min-width: 1440px) {
  .events .event-date {
    width: 33%;
    font-size: 1.1rem;
    padding: 2rem;
  }
}
.events h3 {
  font-family: "Hind", sans-serif;
  color: #138951;
  margin: 1.2rem auto 0.6rem;
}
.events p {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 1440px) {
  .events p {
    font-size: 1.5rem;
  }
}
.events p span {
  font-weight: normal;
}

.news {
  padding: 0 10% 5%;
  background-color: whitesmoke;
  text-align: center;
  background-color: #ececec;
  text-align: left;
}
@media screen and (min-width: 1440px) {
  .news {
    padding: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .news .section-content {
    display: grid;
    grid-template-columns: repeat(3, 41%);
    column-gap: 4%;
    overflow: scroll;
  }
}
.news .card {
  margin-bottom: 2rem;
  background-color: #fefefe;
  border-radius: 24px;
  position: relative;
  padding-bottom: 2rem;
}
.news h2 {
  font-family: "Hind", sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 3.5rem auto 3rem;
}
@media screen and (min-width: 1440px) {
  .news h2 {
    font-size: 3rem;
  }
}
.news h3 {
  font-family: "Hind", sans-serif;
}
@media screen and (min-width: 1440px) {
  .news h3 {
    font-size: 1.9rem;
  }
}
.news img {
  border-radius: 24px 24px 0 0;
  width: 100%;
  min-height: 209px;
}
@media screen and (min-width: 1440px) {
  .news .section-content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4%;
  }
}
.news span,
.news h3,
.news p,
.news a {
  padding: 0 10%;
}
.news .date {
  display: inline-block;
  font-size: 0.8rem;
}
@media screen and (min-width: 1440px) {
  .news .date {
    display: none;
  }
}
.news h3 {
  line-height: 120%;
  margin: 4% auto 4%;
}
.news p {
  font-size: 0.8rem;
}
@media screen and (min-width: 1440px) {
  .news p {
    font-size: 1rem;
  }
}
.news a {
  display: inline-block;
  margin-top: 1.4rem;
  color: #138951;
  font-size: 0.9rem;
  font-weight: bold;
}
.news a::after {
  content: "→";
  margin-left: 0.5rem;
}
@media screen and (min-width: 1440px) {
  .news a {
    font-size: 1.1rem;
  }
}

footer {
  background-color: rgba(213, 235, 225, 0.7);
  padding: 1.5rem 0 0;
}
@media screen and (min-width: 1440px) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 0 0;
  }
  footer h2 {
    font-size: 2rem;
  }
  footer .footer-links {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
  }
  footer .footer-links img {
    width: 12%;
    margin-left: 10%;
  }
  footer .footer-links h4 {
    display: inline-block;
    font-size: 1.2rem;
    width: 50%;
    margin-left: 2%;
    position: relative;
    top: -1rem;
  }
  footer .footer-links h2 {
    margin: 10% 0 0 25%;
  }
  footer .footer-links ul {
    font-size: 1.2rem;
    margin: 2% 0 0 25%;
  }
  footer .contact {
    grid-column: 2/span 1;
  }
  footer .contact form {
    width: 70%;
    padding: 4%;
  }
  footer .contact form input {
    height: 3.5em;
  }
  footer .contact form button {
    width: 100%;
  }
  footer .socials {
    grid-column: 1/span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 12%;
  }
  footer .socials p {
    font-size: 1rem;
    width: 80%;
  }
  footer .attribution {
    grid-column: 1/span 2;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

h2 {
  margin: 1.2rem auto;
}

.contact {
  margin: 0 1.5rem 0;
}
.contact form {
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.contact form input {
  display: block;
  width: 100%;
  height: 2.5rem;
  outline: none;
  border: 1px solid #138951;
  border-radius: 5px;
  margin: 0.5rem 0 1rem;
}
.contact form button {
  border: none;
  display: inline-block;
  width: 50%;
  height: 3em;
  padding: 0.7em;
  margin-top: 4em;
  border-radius: 4px;
  background-color: #138951;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 10px 10px rgba(19, 139, 83, 0.25);
  width: 100%;
  margin: 0;
  color: white;
}
@media screen and (min-width: 768px) {
  .contact form button {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .contact form button {
    width: 17em;
  }
}

.footer-links {
  margin: 0 1.5rem 2rem;
  margin-bottom: 2rem;
}
.footer-links ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: auto auto auto;
}
.footer-links li {
  margin-bottom: 1rem;
}

.socials {
  margin: 0 1.5rem 0;
}
.socials p {
  font-size: 0.8rem;
}
.socials a {
  display: inline-block;
  margin: 1rem 0.5rem;
}

@media screen and (min-width: 1440px) {
  .social-icons a {
    width: 2em;
    height: 2.2em;
  }
  .social-icons a img {
    height: 100%;
  }
}

.other-contacts a {
  display: block;
  text-decoration: none;
  color: black;
}
.other-contacts img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  padding: 0.5rem;
  border: 1px solid #138951;
  border-radius: 50%;
}
@media screen and (min-width: 1440px) {
  .other-contacts img {
    width: 3rem;
    height: 3rem;
    padding: 0.8rem;
  }
}
.other-contacts address,
.other-contacts span {
  position: relative;
  top: -0.5rem;
  display: inline-block;
  width: 80%;
  line-height: 150%;
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  font-style: normal;
}
@media screen and (min-width: 1440px) {
  .other-contacts address,
.other-contacts span {
    font-size: 1rem;
    width: 70%;
  }
}

.attribution {
  text-align: center;
  background-color: #fefefe;
  font-size: 0.7rem;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
